.orange-link {
    font-family: 'Arvo', serif;
    color: #CC6600;
    text-decoration: none;
}

.orange-link:hover {
    color: #FF9932;
}

.app-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    min-height: 775px;
    background: image_url("beer-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Arvo', serif;
}

a {
    text-decoration: none;
    color: inherit;
}
.main-content-main {
    max-height: fit-content;
    min-height: 91vh;
    background-image: none;
    background-color: #F5F2E8;
}

.main-content-body {
    margin-bottom: 50px;
    margin-top: 80px;
}

// .img-preview {
//     position: absolute;
//     background-image: url("default_beer.png");
// }