.orange-link {
    color: #CC6600;
    text-decoration: none;
}

.orange-link:hover {
    color: #FF9932;
}

.body-main {
    // background: image_url("beer-background.jpg");
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center center;
    // font-family: 'Arvo', serif;
}

#root {
    // background: image_url("beer-background.jpg");
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center center;
    // font-family: 'Arvo', serif;
}

.app-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: image_url("beer-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Arvo', serif;
}

