.brewery-mid-show-item {
  width: 25%;
  padding: 12px;
}

.index-sub-feed {
  margin: 17%;
  height: 70%;
  width: 52%;
  max-width: 60%;
  min-width: 500px;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  margin-top: 0px;
  padding: 16px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}

.index-sub-feed > .checkin-index-title {
  padding-left: 4px;
}

.index-sub-feed > .index-body {
  padding: 0 5px 8px;
}

.info-hover {
  cursor: pointer;
}