.brewery-mid-show-item {
  width: 25%;
  padding: 12px;
}

.index-sub-feed {
  margin: 17%;
  height: 70%;
  width: 54%;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  margin-top: 0px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
}

.info-hover {
  cursor: pointer;
}