.index-item {
  height: 80px;
  display: flex;
  align-items: center;
}

.index-item-title {

}

.index-item-location {

}

.index-item-underline {
  // border-bottom: ;
}

.index-subitem{
  margin: 5px;
}