.index-feed {
  margin: auto;
  height: 70%;
  width: 45%;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  margin-top: 80px;
  padding-bottom: 30px;
}

.index-title {
  background-color: #F9F9F9;
  width: auto;
  height: 60px;
  padding-left: 30px;
  padding-top: 30px;
  font-weight: 700;
  font-size: 18px;
}

.index-body {
  position: relative;
  padding: 0 24px 24px
}