.index-item {
  display: flex;
  align-items: center;
  height: 130px;
  width: 100%;
}

.index-item-title {

}

.index-item-location {

}

.left-items {
  display: flex;
}

.right-items {
  display: flex;
  justify-content: flex-end;
}

.index-item-underline {
  border-bottom: 1px solid #E9E9E9;
  width: 100%;
}

.index-subitem{
  margin: 5px;
}