// .app-main {
//   background-image: none;
//   background-color: #F5F2E8;
// }

.brewery-index-feed {
  margin: auto;
  height: 70%;
  width: 70%;
  background-color: #FFFFFF;
  margin-bottom: 30px;
}

.breweries-index-title {
  background-color: #F9F9F9;
  width: auto;
  height: 60px;
  padding-left: 30px;
  padding-top: 30px;
  font-weight: 700;
  font-size: 18px;
}

.brewery-index-body {
  position: relative;
  padding: 0 24px 24px
}