.index-item {
  display: flex;
  align-items: center;
  height: 130px;
  width: 100%;
  justify-content: space-between;
}

.index-item-beer {
  display: flex;
  align-items: center;
  height: 130px;
  width: 100%;
}

.left-items {
  display: flex;
  height: 46%;
  align-items: center;
}

.right-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 46%;
  align-items: center;
  border-left: solid 1px #E9E9E9;
}

.index-item-underline {
  border-bottom: 1px solid #E9E9E9;
  width: 100%;
}

.index-subitem{
  margin: 5px;
  font-size: 14px;
  color: #999999;
}

.right-items-top {
  display: flex;
  flex-direction: row;
  border-bottom: #E9E9E9 solid 1px;
}

.checkin-count-container {
  border-left: solid 1px #E9E9E9;
}

.checkin-count, .beer-count {
  margin: 8px;
}