.index-img {
  width: 60px;
  height: 60px;
}
.index-main {
  display: flex;
  height: 150px;
}

.index-item-beer {
  display: flex;
  margin-top: 10px;
  height: fit-content;
  width: 100%;
}

.beer-item-stats {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border-top: solid 1px #E9E9E9;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
}

// .beer-item-description {
//   min-width: 450px;
// }

.index-item-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 5px;
  line-height: 1.2;
}

.beer-item-style {
  margin-bottom: 10px;;
}

.beer-item-ibu, .beer-item-rating, .beer-item-checkins {
  border-left: solid 1px #E9E9E9;
}

.beer-index-subitem {
  font-size: 14px;
  color: #999999;
  padding: 5px;
  text-align: center;
}