.index-img {
  width: 60px;
  height: 60px;
}
.index-main {
  display: flex;
  height: 150px;
}

// .more-beer-btn {
//   background-color: #FFCC00;
//   margin: 0 auto;
//   width: 100%;
//   max-width: 200px;
//   border: none;
//   border-radius: 8px;
//   text-align: center;
//   display: block;
//   padding: 12px 0;
//   color: white;
//   font-weight: 600;
//   // margin-top: 30px;
// }