.beer-form-outer {
  width: 30%;
  margin: auto;
  background-color: #FFFFFF;
  min-width: 425px;
  padding: 32px;
  height: fit-content;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
  font-family: 'Arvo', serif; // did this work without needin it? since no internet for google font
}

.beer-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-content: center;
}

.style-title {
  margin-bottom: 6px;
}

.beer-form-title {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 900;
}

.beer-form-sub {
  font-size: 14px;
  font-weight: 900;
}

.beer-form-section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.beer-form-category {
  font-size: 12px;
  font-weight: 100;
}

.beer-form-style {
  align-self: center;
}

.beer-form-ibu, .beer-form-abv, .beer-form-style {
  display: flex;
  flex-direction: column;
}

.beer-form-ibu, .beer-form-abv {
  width: 100px;
}


.style-dropdown {
  padding-top: 5px;
}

.beer-info-line {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.beer-form-item {
  margin: 5px 10px 10px 0;
  padding: 5px;
  border: solid 1px #CCCCCC;
  border-radius: 4px;
  position: relative;
}

.beer-form-item select {
  border: 0;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: window;
  outline: none;
  width: 300px;
  font-size: 0.9em;
}

.beer-form-btn {
  background-color: #FFCC00;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
  border: none;
  border-radius: 6px;
  text-align: center;
  display: block;
  padding: 12px 0;
  color: white;
  font-weight: 600;
  margin-bottom: 30px;
}

.beer-form-btn:hover {
  background-color: #F4B702;
}

.beer-form-category {
  color: #A3A3A3;
  letter-spacing: 1px;
}

.beer-form-select-effect:focus {
  outline: -webkit-focus-ring-color auto 5px;;
}

textarea {
  resize: none;
  width: 90%;
  height: 100px;
}

.beer-name {
  width: 90%;
}

.email-text {
  font-size: 12px;
  margin: 7px 0 5px 0;
  letter-spacing: .75px;
}

.suggest-brewery {
  color: #A3A3A3;
  font-weight: 300;
}

.image-upload {
  margin: 15px 0 15px 0;
  position: relative;
}

.pic-input {
  position: relative;
  opacity: 0;
  height: 50px;
  width: 50px;
  z-index: 15;
  cursor: pointer;
}

.beer-brewery-line {
  position: relative;
}

.img-preview {
  position: absolute;
  height: 50px;
  width: 50px;
  background-size: contain;
  left: 315px;
  top: 0;
  display: flex;
  flex-wrap: wrap;
}

.real-image {
  position: absolute;
  height: 50px;
  width: 50px;
}

.photo-text {
  font-size: 12px;
  color: #A3A3A3;
  font-weight: 300;
  margin: 5px 0 0 0;
  letter-spacing: .75px;
  width: 100px;
  text-align: center;
}

#hide-img {
  background-image: none;
  background-color: #FFFFFF;
}