.splash-footer {
  background-color: black;
  height: 85px;
  width: 100%;
}

.main-footer {
  background-color: #F5F2E8;
  height: 85px;
  width: 100%;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  // align-items: center;
}

.foot-name {
  align-self: center;
  font-weight: 800;
}

.link-list, .foot-name {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  margin-right: 30px;
}

.github-link a, .linkedin-link a, .foot-name {
  font-family: 'Arvo', serif;
  color: #FFF;
  text-decoration: none;
  padding-left: 20px;
}

.foot-link a:hover{
  color: gray;
}

.foot-link {
  font-size: 18px;
}

.github-foot-link, .linkedin-foot-link {
  padding-left: 20px;
}