.splash-footer {
  background-color: black;
  height: 85px;
  width: 100%;
}

.main-footer {
  background-color: #F5F2E8;
  height: 85px;
  width: 100%;
}

.link-list {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.github-link a, .linkedin-link a {
  font-family: 'Arvo', serif;
  color: #FFF;
  text-decoration: none;
  padding-left: 20px;
}

.foot-link a:hover{
  color: gray;
}

.foot-link {
  font-size: 18px;
}

.github-foot-link, .linkedin-foot-link {
  padding-left: 20px;
}