.header-title {
    font-size: 40px;
    color: white;
    padding-bottom: 5px;
    z-index: 100;
    width: 100%;
}

.splash-header {
    background-color: #ffcc00;
}

body {
    background: image_url("beer-background.jpg");
}