.header-main {
    background-color: #ffcc00;
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header-title-div {
    padding-top: 5px;
}

.header-title {
    font-size: 30px;
    margin-bottom: 3px;
    font-weight: 900;
    text-transform: uppercase;
}

.header-sub-title {
    text-align: center;
    font-size: 8px;
    padding-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    width: 60%;
}

.logout-btn {
    width: 150px;
    display: flex;
    align-self: center;
}

.features-title {
    font-size: 40px;
    font-weight: 700;
}

.current-user-photo {
    width: 36px;
    height: 36px;
    // text-align: center;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
}

.header-dropdown {
    background-color: #2C2C2C;
    color: #FFFFFF;
    display: none;
    height: fit-content;
    width: 100px;
    position: absolute;
    height: 44px;
    position: absolute;
    top: 40px;
}

.header-dropdown > li {
    cursor: pointer;
}

.profile-pic:hover .header-dropdown {
    display: block;
}