.header-main {
    background-color: #ffcc00;
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header-title-div {
    padding-top: 5px;
}

.header-title {
    font-size: 30px;
    margin-bottom: 3px;
    font-weight: 900;
    text-transform: uppercase;
}

.header-sub-title {
    text-align: center;
    font-size: 8px;
    padding-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
}

.header-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    width: 60%;
}

.logout-btn {
    width: 150px;
    display: flex;
    align-self: center;
}

.features-title {
    font-size: 40px;
    font-weight: 700;
}