.session-form-container {
    width: 360px;
    height: fit-content;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    padding: 20px;
    border-radius: 3px;
}

.login-content {
    padding: 24px 16px !important;
}

.session-form-title {
    color: #3E4040;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    font-weight: 700;
    text-transform: uppercase;
}

.errors-list {
    background-color: #E25858;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    display: none;
}

.errors-li {
    color: white;
}

.show-errors {
    display: block;
}

.session-bottom {
    margin-top: 40px;
    border-top: #ddd solid 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Arvo', serif;
    padding-top: 30px;
    font-weight: 600;
}

.spacer-class {
    margin-left: 10px;
}

.session-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.session-submit-btn {
    background-color: #FFCC00;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    border: none;
    border-radius: 8px;
    text-align: center;
    display: block;
    padding: 12px 0;
    color: white;
    font-weight: 600;
    margin-top: 30px;
}

.session-submit-btn:hover {
    background-color: #F4B702;
}

.session-input {
    border: none;
    margin: 5px 5px 5px 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    border-radius: 0;
    width: 100%;
    float: left;
}

.session-input::placeholder {
    color: #ddd;
}

.or {
    margin: 10px auto;
    text-transform: uppercase;
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 18px;
    padding-top: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.8em;
    color: #ddd;
    border: 3px solid #ddd;
}   

.demo-login-btn {
    font-size: 20px;
    font-family: 'Arvo', serif;
    margin-top: 5px;
    text-align: center;
    font-weight: 700;
    color: #707070;
    border: 2px solid #DDD;
    border-radius: 8px;
    width: 85%;
    padding: 10px;
    text-decoration: none;
}

.demo-login-btn:hover {
    background-color: #ddd;
    color: #fff;
}

.username-input-img {
    padding-top: 5px;
    width: 30px;
}

.password-input-img {
    height: 100%;
    width: 30px;
}

.session-form-username {
    border: 1px #ccc solid;
    border-radius: 4px;
    display: flex;
    height: 30px;
    width: 90%;
}

.session-div {
    margin-bottom: 10px;
}

.session-sub-title {
    text-align: center;
    font-size: 12px;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: gray;
    letter-spacing: 2px;
    font-weight: 800;
}

.input-picture-login {
    // background-image: image_url("person.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    margin: 8px;
    padding-right: 5px;
    border-right: #ddd solid 1px;
}

.session-username {
    background-image: image_url("person.png");
}

.session-pw {
    background-image: image_url("lock.png");
}

.login-title-link {
    text-decoration: none;
    color: inherit;
}