.signup-form-container {
    width: 600px;
    height: 90%;
    margin: auto;
    background-color: white;
    margin-top: 100px;
    padding: 24px 16px !important;
}

.signup-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.signup-form-title {
    color: #3E4040;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-family: 'Arvo', serif;
}

.signup-bottom {
    margin-top: 40px;
    border-top: black solid 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Arvo', serif;
    padding-top: 30px;
    font-weight: 600;
}

.signup-sub-btn {
    background-color: #FFCC00;
    margin: 0 auto;
    width: 50%;
    max-width: 300px;
    text-align: center;
    display: block;
    padding: 12px 0;
    color: white;
    font-weight: 600;
    margin-top: 30px;
}

.spacer-class {
    margin-left: 10px;
}

input[type=date] {
    // -webkit-align-items: center;
    // font-family: monospace;
    overflow: hidden;
    // padding: 0;
    text-transform: uppercase;
    // -webkit-padding-start: 1px;
    // border: 0;
    // background: none;
    // -webkit-appearance: none;
    // -moz-appearance: window;
    outline: none;
    font-size: 0.9em;
    width: 50%;
}

.password-inputs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.password-suggestion {
    font-family: 'Arvo', serif;
    margin: 10px;
    font-size: 14px;
    font-weight: 600;
}

.signup-input {
    border: none;
    border-left: 1px solid #ccc;
    padding: 2px 0px 0px 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    border-radius: 0;
    // width: 100%;
}

.signup-div {
    margin-bottom: 10px;
    display: block;
    width: 48%;
    background-color: #fff;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 8px 6px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 5px;
}

.email-input-img {
    padding-top: 5px;
    width: 30px;
    background-image: image_url("email.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.signup-username {
    display: flex;
}

.signup-sub-title {
    text-align: center;
    font-size: 12px;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: gray;
    letter-spacing: 2px;
    font-weight: 800;
}

.signup-row {
    display: flex;
    justify-content: space-between;
}